<div class="row">
    <dl class="dl-horizontal">
      <dt>Reviewed by</dt>
      <dd><%= review.user.name %></dd>
      <dt>Description</dt>
      <dd><%= review.description %></dd>
      <dt>Rating</dt>
      <dd><%= review.rating %></dd>
    </dl>
</div>
